@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 56%;
    display: block;
    width: 70px;
    height: 70px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 55px;
    /* font-weight: bolder; */
    line-height: 1;
    /* opacity: .75; */
    /* color: white; */
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 40px;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.produtos .slick-prev:before {
    content: '';
    background: url(../img/slide-left-roxo.png) no-repeat;
    width: 68px;
    height: 68px;
    float: left;
}

.produtos .slick-next:before {
    content: '';
    background: url(../img/slide-right-roxo.png) no-repeat;
    width: 68px;
    height: 68px;
    float: left;
}

.slick-prev:before {
    content: '';
    background: url(../img/slide-left.png) no-repeat;
    width: 68px;
    height: 68px;
    float: left;
    opacity: 0.7
}

.slick-next:before {
    content: '';
    background: url(../img/slide-right.png) no-repeat;
    width: 68px;
    height: 68px;
    float: left;
    opacity: 0.7
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 40px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slide .slick-slide img {
    width: 100%;
    height: 833px;
    object-fit: cover;
}

.produtos .slick-prev {
    left: -94px;
    z-index: 1;
}

.produtos .slick-prev:before,
.produtos .slick-next:before {
    opacity: 1;
    color: #331fa0;
}

.produtos .slick-prev,
.produtos .slick-next {
    top: 47%;
}

.produtos .slick-next {
    right: -9%;
}

.produtos .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #331fa0;
}

.slick-dots li button:before {
    opacity: 1;
    color: #c7c7c7;
    font-size: 20px;
}

.clientes .slick-slide img {
    display: block;
    margin: 20px 11px;
    width: 184px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.clientes .slick-slide img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    background: #FFF;
    mix-blend-mode: color;
}

.clientes.slick-initialized.slick-slider {
    padding: 0 65px 0 65px;
    margin-top: 70px;
    padding-bottom: 22px;
    z-index: 1
}

.cliente-01,
.cliente-02,
.cliente-03,
.cliente-04,
.cliente-05,
.cliente-06,
.cliente-07,
.cliente-08,
.cliente-09,
.cliente-10,
.cliente-11,
.cliente-12,
.cliente-13,
.cliente-14,
.cliente-15,
.cliente-16,
.cliente-17,
.cliente-18,
.cliente-19,
.cliente-20,
.cliente-21,
.cliente-22,
.cliente-23,
.cliente-24,
.cliente-25,
.cliente-26,
.cliente-27,
.cliente-28,
.cliente-29,
.cliente-30 {
    width: 221px;
    height: 127px;
    clear: both;
    margin-bottom: 27px;
    float: left;
    background-color: #f2f2f1 !important;
}

.cliente-0 {
    width: 221px;
    height: 127px;
    clear: both;
    margin-bottom: 27px;
    float: left;
}

.slick-slide {
    outline: none !important;
}

.cliente-01 {
    background: url(../img/cliente-01.jpg) no-repeat top center;
}

.cliente-02 {
    background: url(../img/cliente-02.jpg) no-repeat top center;
}

.cliente-03 {
    background: url(../img/cliente-03.jpg) no-repeat top center;
}

.cliente-04 {
    background: url(../img/cliente-04.jpg) no-repeat top center;
}

.cliente-05 {
    background: url(../img/cliente-05.jpg) no-repeat top center;
}

.cliente-06 {
    background: url(../img/cliente-06.jpg) no-repeat top center;
}

.cliente-07 {
    background: url(../img/cliente-07.jpg) no-repeat top center;
}

.cliente-08 {
    background: url(../img/cliente-08.jpg) no-repeat top center;
}

.cliente-09 {
    background: url(../img/cliente-09.jpg) no-repeat top center;
}

.cliente-10 {
    background: url(../img/cliente-10.jpg) no-repeat top center;
}

.cliente-11 {
    background: url(../img/cliente-11.jpg) no-repeat top center;
}

.cliente-12 {
    background: url(../img/cliente-12.jpg) no-repeat top center;
}

.cliente-13 {
    background: url(../img/cliente-13.jpg) no-repeat top center;
}

.cliente-14 {
    background: url(../img/cliente-14.jpg) no-repeat top center;
}

.cliente-15 {
    background: url(../img/cliente-15.jpg) no-repeat top center;
}



.cliente-16 {
    background: url(../img/cliente-16-.jpg) no-repeat top center;
}
.cliente-17 {
    background: url(../img/cliente-17-.jpg) no-repeat top center;
}
.cliente-18 {
    background: url(../img/cliente-18-.jpg) no-repeat top center;
}


.cliente-19 {
    background: url(../img/cliente-19.jpg) no-repeat top center;
}
.cliente-20 {
    background: url(../img/cliente-20.jpg) no-repeat top center;
}
.cliente-21 {
    background: url(../img/cliente-21.jpg) no-repeat top center;
}



.cliente-03:hover {
    background-position-y: -126px;
    -webkit-box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    background-color: #FFF !important;
}

.cliente-01:hover,
.cliente-02:hover,
.cliente-04:hover,
.cliente-05:hover,
.cliente-06:hover,
.cliente-07:hover,
.cliente-08:hover,
.cliente-09:hover,
.cliente-10:hover,
.cliente-11:hover,
.cliente-12:hover,
.cliente-13:hover,
.cliente-14:hover,
.cliente-15:hover,
.cliente-16:hover,

.cliente-16:hover,
.cliente-17:hover,
.cliente-18:hover,

.cliente-19:hover,
.cliente-20:hover,
.cliente-21:hover{
    background-position-y: -127px;
    -webkit-box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    box-shadow: 3px 15px 41px -16px rgba(0, 0, 0, 0.28);
    background-color: #FFF !important;
}

.clientes .slick-dots {
    width: 70%;
}