@media(min-width: 1200px) and (max-width: 1600px) {
	.box-slide img {
		width: 96.5%;
		padding-left: 94px;
	}
	.slide-principal-left {
		left: 19%;
	}
	.slide-principal-right {
		left: 22.9%;
	}
	.box-slide img,
	.bg-slide-principal,
	.principal .box-slide {
		height: 789px;
	}
	.topo-rede-social {
		margin-top: 320px;
	}
	.box-slide h2 {
		margin-top: 320px;
		font-size: 40px;
	}
	.box-slide p {
		margin-top: 420px;
		font-size: 18px;
		width: 435px;
	}
	.principal .box-slide .btn-veja {
		margin-top: 550px;
	}
	.principal .slick-dots li a {
		font-size: 19px;
	}
	.principal .slick-dots li a b {
		font-size: 25px;
		margin-right: 15px;
	}
	.principal .slick-dots li {
		height: 80px;
		line-height: 25px;
	}
	.logo {
		margin-left: 30px;
	}
	.principal {
		width: 84%;
	}
	.principal .slick-dots .slick-active a {
		font-size: 20px;
	}
	.principal .slick-dots li.slick-active a b {
		font-size: 28px;
	}
	.principal li.slick-active {
		width: 500px !important;
	}
	.principal .slick-dots li {
		width: 380px;
	}
	/**/
	.produtos-titulo {
		width: 43.5%;
		height: 217px;
		padding: 48px 0px 48px 10%;
	}
	.clientes-titulo {
		padding: 0;
	}
	.clientes-titulo h2 {
		font-size: 22px;
	}
	.slide-clientes img {
		width: 216px;
	}
	.slide-clientes-left, .slide-clientes-right {
		bottom: 130px;
	}
	.slide-clientes-right {
		right: 35px;
	}
	.slide-clientes-left {
		right: 90px;
	}	
	.img-project:after {
		width: 270px;
		right: -25px;
	}

	.mlpro-numeros h2 {
		padding-left: 0;
	}

	/**/

	.home-microsoft-partner{
		margin-left: -33.8%;
		margin-top: 225px;
	}
}

@media(min-width: 992px) and (max-width: 1199px) {
	.box-slide img {
		width: 96.5%;
		padding-left: 50px;
	}
	.slide-principal-left {
		left: 17%;
		background-size: 25px;
		width: 13px;
		height: 25px;
	}
	.slide-principal-right {
		left: 20.9%;
		background-size: 25px;
		width: 13px;
		height: 25px;
	}
	.box-slide img,
	.bg-slide-principal,
	.principal .box-slide {
		height: 652px;
	}
	.topo-rede-social {
		margin-top: 225px;
	}
	.box-slide h2 {
		margin-top: 245px;
		font-size: 30px;
	}
	.box-slide p {
		margin-top: 335px;
		font-size: 17px;
		width: 329px;
	}
	.principal .box-slide .btn-veja {
		margin-top: 490px;
		font-size: 17px;
		padding: 7px 23px 12px 20px;
		width: 330px;
	}
	.principal .slick-dots li a {
		font-size: 17px;
	}
	.principal .slick-dots li a b {
		font-size: 22px;
		margin-right: 8px;
	}
	.principal .slick-dots li {
		height: 62px;
		line-height: 22px;
		padding: 19px 0px 19px 23px;
	}
	.logo {
		margin-left: 40px;
		width: 210px;
		height: auto;
	}
	.principal {
		width: 84%;
	}
	.principal .slick-dots .slick-active a {
		font-size: 17px;
	}
	.principal .slick-dots li.slick-active a b {
		font-size: 23px;
	}
	.principal li.slick-active {
		width: 398px !important;
		height: 72px;
		line-height: 30px;
	}
	.principal .slick-dots li {
		width: 332px;
	}
	/**/
	.nav-item a {
		font-size: 13px;
		margin: 0 2px 0 2px;
	}
	ul.navbar-nav {
		margin: 21px 0 0 0;
	}

	.principal .box-slide .btn-veja i {
		margin: 4px 0 0 0;
	}
	.topo-contatos {
		font-size: 12px;
	}
	/**/
	.bg-titulo-solucoes {
		height: 194px;
		padding: 40px 25px;
		margin: 137px 0;
	}
	.bg-titulo-solucoes h1 {
		font-size: 26px;
	}
	.bg-titulo-solucoes h1 span {
		font-size: 22px;
	}
	.box-slide-solucoes {
		height: 320px;
		padding: 43px 0px;
	}
	.slide-solucoes .box-slide-solucoes {
		margin: 80px 19px 20px 19px;
	}
	.box-slide-solucoes.ativo {
		height: 355px;
		margin-top: 63px !important;
	}
	.box-slide-solucoes h2 {
		font-size: 17px;
		line-height: 24px;
	}
	/**/
	.slide-solucoes-right {
		margin-left: 43px;
	}
	.slide-solucoes-left {
		margin-left: -10px;
	}
	.slide-solucoes-left, .slide-solucoes-right {
		bottom: -48px;
	}
	.solucoes .btn-saiba-solucoes {
		margin-top: 40px;
	}

	/**/
	.beneficios-texto h2 {
		font-size: 32px;
	}

	.beneficios-texto ul li {
		font-size: 15px;
		padding-right: 0;
	}

	.beneficios-img img {
		margin-left: 30px;
		margin-top: 15px;
	}
	.beneficios-texto a {
		font-size: 17px;
		width: 194px;
	}
	.beneficios-texto a i {
		margin: 3px 0 0 0;
	}

	.produtos-titulo {
		width: 43.5%;
		height: 195px;
		padding: 48px 0px 48px 8%;
	}
	.produtos-titulo h2 {
		font-size: 25px;
	}
	.produtos-titulo p {
		font-size: 19px;
	}
	.produtos-img {
		margin-top: 270px;
	}
	.produtos-img img {
		width: 407px;
	}
	.beneficios-texto p {
		font-size: 15px;
		margin-bottom: 10px;
	}

	/**/
	.clientes-titulo {
		padding: 0;
	}
	.clientes-titulo h2 {
		font-size: 18px;
	}
	.slide-clientes img {
		width: 216px;
	}
	.slide-clientes-left, .slide-clientes-right {
		bottom: 130px;
	}
	.slide-clientes-right {
		right: 14px;
	}
	.slide-clientes-left {
		right: 65px;
	}

	/**/
	.contato-titulo h2 {
		font-size: 22px;
		padding: 91px 0 0 62px;
	}
	.contato-telefone {
		padding: 25px 32px 0 32px;
	}
	.contato-endereco {
		padding: 25px 32px 0 32px;
	}

	/**/

	.rodape-logo {
		padding: 80px 15px;
	}
	.rodape-contato {
		padding: 82px 0;
	}
	.rodape-contato p i.icon-rodape-telefone, 
	.rodape-contato p i.icon-rodape-email, 
	.rodape-contato p i.icon-rodape-endereco, 
	.rodape-contato p i.icon-rodape-whatsapp {
		margin-right: 5px;
	}
	.rodape-menu ul {
		padding: 98px 0px;
	}
	.rodape-contato p {
		font-size: 13px;
	}

	.topo-internas {
		height: 75px;
	}

	/**/
	.img-project:after {
		width: 205px;
		right: -20px;
	}

	.texto-project ul li {
		font-size: 18px;
		margin-left: 40px;
	}
	.texto-project {
		padding: 25px 35px 0 52px;
	}
	.texto-project ul li i {
		left: 0;
	}

	.img-destaque-institucional img {
		margin-top: 175px;
	}
	.img-destaque-institucional:before {
		top: 235px;
	}

	.mlpro-numeros h2 {
		font-size: 25px;
		padding-left: 0;
	}

	.bg-clientes-pg ul li {
		width: 18.8%;
		margin: 13px 5px;
	}

	.suporte-texto ul li {
		font-size: 14.8px;
	}

	.suporte-texto {
		padding: 75px 60px 35px 100px;
	}
	.suporte-titulo h2 {
		font-size: 16px;
		padding: 69px 0 0 41px;
	}

	/**/

	.home-microsoft-partner {
		margin-left: -33.9%;
		margin-top: 140px;
	}

}

@media(min-width: 768px) and (max-width: 991px) {
	.slide-solucoes-left, .slide-solucoes-right {
		bottom: -418px;
		z-index: 2;
	}
	.slide-solucoes-right {
		margin-left: 30px;
	}
	.slide-solucoes-left {
		margin-left: -62px;
	}

	.beneficios-img img {
		width: 100%;
		height: auto;
		margin-left: 0;
		margin: 0 auto;
		display: block;
	}

	/**/

	.produtos-titulo {
		width: 94%;
		position: absolute;
		height: inherit;
		padding: 39px 0;
		border-radius: 8px;
		margin: 0 auto;
		display: block;
		position: inherit;
		text-align: center;
	}
	.produtos-img {
		margin-top: 0;
	}
	.produtos-img img{
		display: block;
		margin: 0 auto
	}

	.produtos-titulo h2 {
		font-size: 22px;
	}
	.produtos-titulo p {
		font-size: 18px;
	}
	.produtos-titulo p{
		margin: 0
	}
	/**/
	.rodape-logo {
		padding: 25px;
	}
	.rodape-contato {
		padding: 30px 0;
	}	
	.rodape-menu ul {
		padding: 10px 0 40px 10px;
	}

	.img-project img {
		margin-bottom: 0;
		margin-left: 20px;
	}
	.slide-numeros-left, .slide-numeros-right {
		bottom: 27px;
	}

	.bg-clientes-pg ul li {
		width: 30.3%;
		margin: 13px 10px;
	}
	.bg-clientes-pg {
		background: none;
	}

	/**/

	.box-chamado {
		margin: 0;
		padding: 35px 0;
	}

	.icon-chamados-solicite, .icon-chamados-acompanhe, .icon-chamados-horas {
		background-size: 100px !important;
		height: 100px;
	}
	.box-chamado h2 {
		font-size: 16px;
	}

	/**/
}

@media(min-width: 541px) and (max-width: 767px) {
}

@media(min-width: 0px) and (max-width: 540px) {
	.contato-form {
		padding: 45px 15px;
	}
	.suporte-texto {
		padding: 40px 25px 50px 69px;
	}
}

@media(min-width: 0px) and (max-width: 767px) {
	.slide-solucoes .box-slide-solucoes {
		margin: 43px 30px 20px 30px !important;
	}
	.slide-solucoes-left, .slide-solucoes-right {
		bottom: -421px;
		z-index: 2;
	}
	.bg-ml-solucoes {
		padding: 55px 0;
	}
	.slide-solucoes-right {
		margin-left: 25px;
	}
	.slide-solucoes-left {
		margin-left: -55px;
	}
	.beneficios-img img {
		width: 100%;
		height: auto;
		margin-left: 0;
		margin: 0 auto;
		display: block;
	}
	/**/
	.produtos-titulo {
		width: 94%;
		position: absolute;
		height: inherit;
		padding: 39px 0;
		border-radius: 8px;
		margin: 0 auto;
		display: block;
		position: inherit;
		text-align: center;
	}
	.produtos-img {
		margin-top: 0;
	}
	.produtos-img img{
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	.produtos-titulo h2 {
		font-size: 22px;
	}
	.produtos-titulo p {
		font-size: 18px;
	}
	.produtos-titulo p{
		margin: 0
	}
	/**/
	.rodape-logo {
		padding: 25px 0;
	}
	.rodape-logo img {
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}
	.rodape-logo p {
		text-align: center;
	}
	.rodape-rede-social {
		margin: 0 auto;
	}
	.rodape-contato {
		padding: 10px 0;
	}
	.rodape-contato p i.icon-rodape-telefone, 
	.rodape-contato p i.icon-rodape-email, 
	.rodape-contato p i.icon-rodape-endereco, 
	.rodape-contato p i.icon-rodape-whatsapp {
		position: absolute;
		margin: 0 auto;
		text-align: center;
		left: 50%;
		margin-top: -2px;
		margin-left: -11px;
		opacity: 0.3;
		display: none
	}
	.rodape-contato p i.icon-rodape-email {
		margin-top: 0px;
	}
	.rodape-contato p i.icon-rodape-endereco {
		margin-top: 10px;
	}

	.rodape-menu ul li i.rodape-icon-home, 
	.rodape-menu ul li i.rodape-icon-project, 
	.rodape-menu ul li i.rodape-icon-institucional, 
	.rodape-menu ul li i.rodape-icon-clientes, 
	.rodape-menu ul li i.rodape-icon-suporte, 
	.rodape-menu ul li i.rodape-icon-contato{
		display: none;
	}
	.rodape-contato p {
		text-align: center;
	}
	.rodape-menu ul {
		padding: 0 10px;
	}
	.rodape-menu ul li {
		text-align: center
	}
	.rodape-menu ul {
		margin-bottom: 0;
	}
	.rodape-menu {
		margin-bottom: 0;
	}
	.img-project img {
		margin-bottom: 30px;
		margin-left: 0;
		width: 100%;
		height: auto;
	}
	.bg-mlpro-numeros {
		padding: 0;
	}

	.mlpro-numeros h2 {
		padding-left: 0;
		text-align: center;
	}

	.slide-numeros-left, .slide-numeros-right {
		bottom: -60px;
	}
	
	.slide-numeros-right {
		right: 325px;
	}
	.slide-numeros div {
		margin-left: 0px;
	}

	.slide-numeros-left {
		left: 50%;
		margin-left: -42px;
	}
	.slide-numeros-right {
		left: 50%;
		margin-left: 16px;
	}

	.bg-clientes-pg ul li {
		width: 46%;
		margin: 13px 5px;
	}

	.bg-clientes-pg {
		background: none
	}

	.box-chamado {
		margin: 0 0 40px 0;
		padding: 35px 0;
	}

	.icon-chamados-solicite, .icon-chamados-acompanhe, .icon-chamados-horas {
		background-size: 100px !important;
		height: 100px;
	}
	.box-chamado h2 {
		font-size: 16px;
	}

	.bg-suporte{
		padding: 10px 0 50px 0;
	}

/*
	.popup-popup {
		background: url('/content/img/popup-contato-small.jpg') no-repeat left top #FFF;
		margin-left: -169.5px;
		margin-top: -241.5px;
		border: 1px solid #333;
		width: 339px;
		height: 483px;
		padding-top: 160px;
		padding-left: 0;
	}
	.popup-x {
		top: 160px;
	}
*/
}

@media(min-width: 0px) and (max-width: 991px) {
	#logo-link {
		display: block;
		width: 178px;
		overflow-x: hidden;
	}
	.logo {
		position: relative;
	}
	.lingua {
		top: 18px;
		right: 13%;
	}
	.navbar-toggler:not(:disabled):not(.disabled) {
		cursor: pointer;
		background: url(../img/icon-menu.png) center no-repeat;
		width: 20px;
		height: 20px;
		margin: 12px 12px;
		overflow: hidden;
	}
	.box-slide img {
		width: 100%;
		height: auto;
	}
	.principal {
		width: 100%;
	}
	div#conteudoNavbarSuportado ul.navbar-nav {
		position: absolute;
		background: #1d202d;
		left: 0;
		width: 100%;
	}
	.box-slide img,
	.bg-slide-principal,
	.principal .box-slide {
		height: 500px;
	}
	.logo {
		width: 215px;
		height: auto;
	}
	.box-slide h2 {
		font-size: 25px;
		margin-top: 222px;
		text-align: center;
		width: 100%;
		line-height: 37px;
	}
	.box-slide p {
		font-size: 17px;
		margin-top: 223px;
		width: 100%;
		text-align: center;
		display: none
	}
	.principal .box-slide .btn-veja {
		margin: 0 auto;
		margin-top: 315px;
		display: block;
		left: 0;
		right: 0;
		font-size: 17px;
		width: 169px;
		text-align: center;
	}
	.principal .box-slide .btn-veja i {
		margin: 4px 0 0 0;
	}
	.slide-principal-left {
		left: 50%;
		margin-left: -35px;
	}
	.slide-principal-right {
		left: 50%;
		margin-left: 20px;
	}
	.slide-principal-left, .slide-principal-right {
		bottom: 80px;
	}
	.topo-contatos {
		bottom: 10px;
		margin: 0 auto;
		font-size: 10.5px;
		width: 310px;
		display: block;
		left: 0;
		right: 0;
	}
	.telefone-topo,
	.telefone-email {
		background-size: 40px;
		width: 14px;
		height: 13px;
		display: none;
	}
	.topo-contatos li {
		width: 100%;
		text-align: center;
		margin: 4px 0;
		font-size: 13px;
	}
	.topo-rede-social {
		margin-right: 0px;
		z-index: 2;
		width: 180px;
		padding: 5px 5px;
		margin: 0 auto;
		margin-top: 477px;
		display: none
	}
	.topo-rede-social .icon-facebook, .topo-rede-social .icon-instagram, .topo-rede-social .icon-twitter, .topo-rede-social .icon-linkedin, .topo-rede-social .icon-google {
		margin: 5px 4px;
	}
	/**/
	.bg-titulo-solucoes h1 {
		font-size: 24.4px;
		text-align: center;
	}
	.bg-titulo-solucoes {
		height: initial;
	}
	.bg-titulo-solucoes {
		width: 100%;
		padding: 62px 36px;
		margin: 0 0 43px 0;
		height: initial;
		border-radius: 12px;
	}
	.slide-solucoes .box-slide-solucoes {
			margin: 43px 9px 20px 9px;
	}
	/***/
	.bg-ml-solucoes {
		height: inherit;
		padding: 50px 0;
	}
	.box-slide-solucoes .icon-projetos,
	.box-slide-solucoes .icon-microsoft-gold,
	.box-slide-solucoes .icon-implantando,
	.box-slide-solucoes.ativo .icon-projetos,
	.box-slide-solucoes.ativo .icon-microsoft-gold,
	.box-slide-solucoes.ativo .icon-implantando {
		background-size: 60px;
		height: 90px;
	}
	.box-slide-solucoes h2 {
		font-size: 17px;
		line-height: 23px;
	}
	.box-slide-solucoes.ativo {
		height: 310px;
		padding: 55px 0;
	}
	.box-slide-solucoes {
		height: 280px;
		padding: 45px 0px;
	}
	.solucoes .btn-saiba-solucoes i {
		margin: 3px 0 0 0;
	}
	.solucoes .btn-saiba-solucoes {
		margin-bottom: 0px;
		width: 170px;
		font-size: 16px;
	}
	/**/
	.beneficios-texto h2{
		font-size: 30px;
		text-align: center
	}
	.beneficios-texto ul li{
		text-align: center;
		padding: 0;
	}
	.beneficios-texto ul li i{
		display: none
	}
	.beneficios-texto a{
		width: 170px;
		font-size: 16px;
		margin: 0 auto;
		margin-bottom: 60px;
		padding: 12px 18px 12px 20px;
	}
	.beneficios-texto a i {
		margin: 3px 0 0 0;
	}
	/**/
	.bg-clientes{
		padding: 0;
		margin-bottom: 173px;
	}
	.clientes-titulo h2{
		text-align: center;
		font-size: 23px;
	}
	.slide-clientes-left, .slide-clientes-right {
		bottom: -40px;
		z-index: 2;
	}
	.slide-clientes div {
		margin-left: 0px;
	}
	.slide-clientes-right {
		left: 50%;
		margin-left: 16px;
	}
	.slide-clientes-left {
		left: 50%;
		margin-left: -42px;
	}
	/**/

	.contato-titulo h2 {
		font-size: 23px;
		padding: 55px 0;
		text-align: center;
	}
	.contato-titulo {
		border-radius: 15px;
		height: auto;
	}
	.contato-telefone {
		border-radius: 15px;
		height: auto;
		padding: 30px 0;
	}
	.contato-telefone h2, 
	.contato-endereco h2,
	.contato-telefone p, 
	.contato-endereco p,
	.contato-form p{
		text-align: center
	}
	.contato-endereco {
		border-radius: 15px;
		height: auto;
		padding: 30px 0;
		margin-bottom: 35px;
	}
	#form-container .btn-form-enviar {
		margin: 0 auto;
		display: block;
	}

	.bg-beneficios {
		padding: 40px 0;
	}
	.bg-produtos {
		padding: 40px 0 25px 0;
	}
	ul.navbar-nav {
		margin: 11px -30px 0 0;
	}

	.topo-internas {
		height: 89px;
	}
	.titulo-project {
		padding: 50px 0;
	}
	.titulo-project h1 {
		font-size: 23px;
	}
	.titulo-project h2 {
		font-size: 20px;
	}
	 

	/**/
	.bg-project-texto {
		padding: 50px 0;
	}
	.texto-project {
		padding: 0;
	}
	.texto-project ul li i {
		left: 0;
	}
	.texto-project ul li {
		margin-left: 40px;
	}
	.texto-project ul {
		margin-bottom: 52px;
	}
	.img-project:after,
	.img-destaque-institucional:before{
		display: none
	}
	.bg-institucional-texto {
		padding: 50px 0;
	}
	.img-destaque-institucional img {
		margin-top: 0;
	}
	.texto-institucional ul {
		margin-left: 0px;
	}
	.texto-institucional ul li {
		margin-left: 0px;
	}

	.institucional-texto-img ul li {
		margin-left: 8px;
	}
	.institucional-texto-img ul li i {
		margin-left: -31px;
	}
	.img-institucional img{
		width: 100%;
		height: auto;
	}

	/**/
	.suporte-titulo {
		border-radius: 15px;
		height: auto;
	}
	.suporte-titulo h2 {
		font-size: 17px;
		padding: 55px 0;
		text-align: center;
	}
	.suporte-img img{
		margin: 0 auto;
		display: block
	}

	/**/

	.btn-veja.tamanho-btn{
		font-size: 15px !important;
		width: 312px !important;
	}

	.home-microsoft-partner {
		margin: 0 auto;
		display: block;
		left: 0;
		right: 0;
		margin-top: 130px;
	}
	.contato-telefone h4, .contato-endereco h4{
		text-align: center
	}
}
