@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

A .logo {
  color: #3f455b;
}

.logo {
  width: 286px;
  height: 127px;
  padding: 26px 0px;
  position: absolute;
  top: 0;
  margin-left: -20px;
  background: #ffffff;
  box-shadow: 0px -8px 23px 13px rgb(37 52 101 / 30%);
  border-radius: 0 0 8px 8px;
}

.logo img {
  margin: 0 auto;
  display: block;
  width: 71%;
  height: auto;
}

ul.navbar-nav {
  margin: 42px 0 0 0;
  text-align: center;
}

ul.navbar-nav li a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

ul.navbar-nav li a:hover {
  opacity: 0.5;
}

.navbar.navbar-expand-lg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0;
}

.nav-item a {
  font-family: "Montserrat", sans-serif;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 7px 0 7px;
}

/************************/

.bg-banner-principal {
  background: url(../img/banner-principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 781px;
  position: relative;
  display: grid;
  align-items: center;
}

.bg-banner-principal h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 54px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 45px;
}

.bg-banner-principal p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 137px;
  margin-bottom: 40px;
}

.bg-banner-principal .btn-veja {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  width: 343px;
  height: 54px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
  backdrop-filter: blur(5px);
  display: block;
  text-align: center;
  padding: 13px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-microsoft-partner-2022 {
  width: 100%;
  height: 180px;
  background: #151f40;
}
.logo-microsoft-partner-2022 img {
  padding: 12px 0px;
  width: 370px;
}

/************************/

.bg-solucoes {
  background: #f5f9ff;
  padding: 100px 0;
}
.bg-solucoes .titulo-solucoes h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  color: #253465;
  text-align: center;
}
.bg-solucoes .titulo-solucoes h1::before {
  content: "";
  display: block;
  width: 89px;
  height: 5px;
  margin: 0 auto;
  background: #568bc1;
  margin-bottom: 30px;
}

.box-slide-solucoes-mlpro i {
  width: 100%;
  height: 72px;
  display: block;
  margin-bottom: 19px;
}

.bg-solucoes .box-slide-solucoes-mlpro .icon-instalacao-configuracao-ppm {
  background: url(../img/icon-instalacao-configuracao-ppm.png) center no-repeat;
  background-size: 80px;
}
.bg-solucoes .box-slide-solucoes-mlpro.ativo .icon-instalacao-configuracao-ppm {
  background: url(../img/icon-instalacao-configuracao-ppm-hover.png) center
    no-repeat;
  background-size: 80px;
}

.bg-solucoes .box-slide-solucoes-mlpro .icon-solucoes-exclusivas-mlpro {
  background: url(../img/icon-solucoes-exclusivas-mlpro.png) center no-repeat;
  background-size: 70px;
}
.bg-solucoes .box-slide-solucoes-mlpro.ativo .icon-solucoes-exclusivas-mlpro {
  background: url(../img/icon-solucoes-exclusivas-mlpro-hover.png) center
    no-repeat;
  background-size: 70px;
}

.bg-solucoes .box-slide-solucoes-mlpro .icon-consultoria-ppm {
  background: url(../img/icon-consultoria-ppm.png) center no-repeat;
  background-size: 67px;
}
.bg-solucoes .box-slide-solucoes-mlpro.ativo .icon-consultoria-ppm {
  background: url(../img/icon-consultoria-ppm-hover.png) center no-repeat;
  background-size: 67px;
}

.bg-solucoes .box-slide-solucoes-mlpro .icon-treinamento-ppm {
  background: url(../img/icon-treinamento-ppm.png) center no-repeat;
  background-size: 60px;
}
.bg-solucoes .box-slide-solucoes-mlpro.ativo .icon-treinamento-ppm {
  background: url(../img/icon-treinamento-ppm-hover.png) center no-repeat;
  background-size: 60px;
}

.bg-solucoes .box-slide-solucoes-mlpro {
  border: 1px solid #a5bcdf;
  height: 330px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 37px 0;
  margin: 30px 10px;
  position: relative;
}

.bg-solucoes .box-slide-solucoes-mlpro.ativo {
  height: 330px;
  background: white;
  box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 0 18px 0px rgb(0 0 0 / 11%);
  -moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);

  border-radius: 8px;
  padding: 37px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.bg-solucoes .box-slide-solucoes-mlpro.ativo::after {
  content: "";
  width: 70px;
  height: 70px;
  background: #f8b04b;
  background-blend-mode: multiply;
  border-radius: 5px;
  position: absolute;
  top: 0;
  margin-left: -10px;
  z-index: -1;
  margin-top: -10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.bg-solucoes .box-slide-solucoes-mlpro h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #253465;
  margin-bottom: 11px;
  height: 66px;
  display: grid;
  align-items: center;
  text-align: center;
}
.bg-solucoes .box-slide-solucoes-mlpro p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b1b1b1;
  margin-bottom: 20px;
  /* height: 85px; */
  display: grid;
  align-items: center;
}

.bg-solucoes .box-slide-solucoes-mlpro .btn-saiba-solucoes {
  width: 171px;
  margin: 0 auto;
  padding: 9px 0;
  background: #253465;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
}
.bg-solucoes .box-slide-solucoes-mlpro.ativo .btn-saiba-solucoes {
  display: block;
}

.bg-solucoes .slide-solucoes-mlpro .slick-prev,
.bg-solucoes .slide-solucoes-mlpro .slick-next {
  width: 73px;
  height: 73px;
  z-index: 1;
  top: 47%;
  opacity: 1 !important;
}

.bg-solucoes .slide-solucoes-mlpro .slick-prev {
  background: url("../img/icon-arrow-left.png");
  left: -108px;
}

.bg-solucoes .slide-solucoes-mlpro .slick-prev:hover,
.bg-solucoes .slide-solucoes-mlpro .slick-prev:focus {
  background: url("../img/icon-arrow-left-hover.png");
  left: -108px;
}
.bg-solucoes .slide-solucoes-mlpro .slick-next {
  background: url("../img/icon-arrow-right.png");
  right: -108px;
}
.bg-solucoes .slide-solucoes-mlpro .slick-next:hover,
.bg-solucoes .slide-solucoes-mlpro .slick-next:focus {
  background: url("../img/icon-arrow-right-hover.png");
  right: -108px;
}

/************************/

.bg-beneficios-project {
  padding: 0 0 70px 0;
  background: linear-gradient(90deg, #f5f9ff 25%, #253465 25%);
  position: relative;
}

.bg-beneficios-project::after {
  content: "";
  width: 180px;
  height: 73px;
  background: #148247;
  position: absolute;
  bottom: -73px;
  right: 0;
}

.bg-beneficios-project img {
  width: 100%;
}

.bg-beneficios-project h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
  margin-bottom: 40px;
}
.bg-beneficios-project ul {
  padding: 0;
}
.bg-beneficios-project ul li {
  padding: 0 0px 0 67px;
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 20px;
  line-height: 140.4%;
  cursor: pointer;
  height: 53px;
  display: grid;
  align-items: center;
}
.bg-beneficios-project ul li:hover {
  font-weight: 700;
  color: #f8b04b;
}

.bg-beneficios-project ul li .icon-economia,
.bg-beneficios-project ul li .icon-aumento,
.bg-beneficios-project ul li .icon-melhoria,
.bg-beneficios-project ul li .icon-reducao {
  width: 45px;
  height: 45px;
  background-color: #1c2a55;
  background-position: center center;
  border-radius: 6px;
  margin: 4px 0 0 -63px;
  position: absolute;
}

.bg-beneficios-project ul li .icon-economia {
  background-image: url("../img/icon-economia.png");
}
.bg-beneficios-project ul li .icon-aumento {
  background-image: url("../img/icon-aumento.png");
}
.bg-beneficios-project ul li .icon-melhoria {
  background-image: url("../img/icon-melhoria.png");
}
.bg-beneficios-project ul li .icon-reducao {
  background-image: url("../img/icon-reducao.png");
}

.bg-beneficios-project ul li:hover .icon-economia {
  background-image: url("../img/icon-economia-hover.png");
  background-color: #f8b04b;
}
.bg-beneficios-project ul li:hover .icon-aumento {
  background-image: url("../img/icon-aumento-hover.png");
  background-color: #f8b04b;
}
.bg-beneficios-project ul li:hover .icon-melhoria {
  background-image: url("../img/icon-melhoria-hover.png");
  background-color: #f8b04b;
}
.bg-beneficios-project ul li:hover .icon-reducao {
  background-image: url("../img/icon-reducao-hover.png");
  background-color: #f8b04b;
}

.bg-beneficios-project .beneficios-texto a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  width: 363px;
  height: 54px;
  border: 1px solid #ffffff;
  text-align: center;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0;
  margin-left: 71px;
}
.bg-beneficios-project .beneficios-texto {
  margin-top: 110px;
  padding-left: 58px;
}

/************************/
.bg-numeros {
  background-color: #f5f9ff;
  padding: 170px 0 130px 0;
}

.bg-numeros .titulo {
  background-image: url("../img/bg-numeros.jpg");
  background-repeat: no-repeat;
  height: 473px;
  padding: 189px 0 0 20%;
}

.bg-numeros .titulo h3::after {
  content: "";
  width: 89px;
  height: 5px;
  background: #5ba7f4;
  position: absolute;
  left: 0;
  top: -11px;
}

.bg-numeros .titulo h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 0;
  position: relative;
}

.bg-numeros .titulo p {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 37px;
  color: #ffffff;
}

.bg-numeros ul {
  padding: 0;
  width: 630px;
  margin: -56px 0 0 -160px;
}
.bg-numeros ul li {
  list-style: none;
  width: 291px;
  height: 278px;
  left: 941px;
  top: 2789px;
  background: #deebff;
  border-radius: 8px;
  float: left;
  display: grid;
  padding: 36px 0;
  margin: 10px;
}
.bg-numeros ul li i {
  margin: 0 auto;
  width: 87px;
  height: 87px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-numeros ul li i.icon-suporte {
  background-image: url("../img/icon-suporte.png");
}
.bg-numeros ul li i.icon-empresas {
  background-image: url("../img/icon-empresas.png");
}
.bg-numeros ul li i.icon-anos {
  background-image: url("../img/icon-anos.png");
}
.bg-numeros ul li i.icon-projetos-realizados {
  background-image: url("../img/icon-projetos-realizados.png");
}

.bg-numeros ul li h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #253465;
  text-align: center;
}
.bg-numeros ul li p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #253465;
}
/************************/

.bg-clientes-mlpro {
  padding: 100px 0;
}

.bg-clientes-mlpro h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 146.9%;
  color: #253465;
  position: relative;
}

.bg-clientes-mlpro h2::after {
  content: "";
  width: 89px;
  height: 5px;
  background: #5ba7f4;
  position: absolute;
  left: 0;
  top: -11px;
}

.bg-clientes-mlpro h2 span {
  width: calc(100% - 464px);
  height: 1px;
  background-color: #B3B3B3;
  position: absolute;
  top: 32px;
  margin-left: 20px;
}

.slide-clientes-left-mlpro,
.slide-clientes-right-mlpro {
  width: 54px;
  height: 54px;
  background-color: #DEDEDE;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-repeat: no-repeat;
}

.slide-clientes-left-mlpro {
	background-image: url(../img/icon-seta-left.png);
	background-position: center;
	right: 64px;
}
.slide-clientes-right-mlpro {
	background-image: url(../img/icon-seta-right.png);
	background-position: center;
	right: 0;
}


.slide-clientes-left-mlpro:hover,
.slide-clientes-right-mlpro:hover {
background-color: #3E7AB8;

}
.slide-clientes-left-mlpro:focus,
.slide-clientes-right-mlpro:focus {
outline: none;
 }

.slide-clientes-mlpro SPAN.pos-1-1 > IMG { margin-top:    0  ; margin-left:     0  ; }
.slide-clientes-mlpro SPAN.pos-1-2 > IMG { margin-top:    0  ; margin-left:  -216px; }
.slide-clientes-mlpro SPAN.pos-1-3 > IMG { margin-top:    0  ; margin-left:  -432px; }
.slide-clientes-mlpro SPAN.pos-1-4 > IMG { margin-top:    0  ; margin-left:  -648px; }
.slide-clientes-mlpro SPAN.pos-1-5 > IMG { margin-top:    0  ; margin-left:  -864px; }
.slide-clientes-mlpro SPAN.pos-1-6 > IMG { margin-top:    0  ; margin-left: -1080px; }

.slide-clientes-mlpro SPAN.pos-2-1 > IMG { margin-top: -174px; margin-left:     0  ; }
.slide-clientes-mlpro SPAN.pos-2-2 > IMG { margin-top: -174px; margin-left:  -216px; }
.slide-clientes-mlpro SPAN.pos-2-3 > IMG { margin-top: -174px; margin-left:  -432px; }
.slide-clientes-mlpro SPAN.pos-2-4 > IMG { margin-top: -174px; margin-left:  -648px; }
.slide-clientes-mlpro SPAN.pos-2-5 > IMG { margin-top: -174px; margin-left:  -864px; }
.slide-clientes-mlpro SPAN.pos-2-6 > IMG { margin-top: -174px; margin-left: -1080px; }

.slide-clientes-mlpro div {
	margin-left: 15px;
}

.slide-clientes-mlpro SPAN {
	overflow: hidden;
	width: 216px;
	height: 174px;
	display: block;
}
.slide-clientes-mlpro SPAN > IMG {
	width: 1298px;
	height: 348px;
}

.slide-clientes-mlpro SPAN.pos > IMG {
	width: 216px;
	height: 174px;
}
/**/

.bg-contato-mlpro{
  background-image: url("../img/bg-contato-mlpro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 533px;
}

.contato-titulo-mlpro h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.contato-info-mlpro{
  padding: 0;
}
 
.contato-info-mlpro li{
  list-style: none;
  width: 45px;
  height: 45px;
  background: #151F40;
  border-radius: 6px;
}
.contato-info-mlpro li i{
  width: 45px;
  height: 45px;
}
.contato-info-mlpro li i.icon-telefone-mlpro{
  background-image: url("../img/icon-telefone-mlpro.png");
}
.contato-info-mlpro li i.icon-email-mlpro{
  background-image: url("../img/icon-email-mlpro.png");
}
.contato-info-mlpro li i.icon-localizacao-mlpro{
  background-image: url("../img/icon-localizacao-mlpro.png");
}
 