@font-face {
	font-family: 'BwModelica-ThinItalic';
	src: url('../fonts/BwModelica-ThinItalic.eot');
	src: url('../fonts/BwModelica-ThinItalic.woff2') format('woff2'), url('../fonts/BwModelica-ThinItalic.woff') format('woff'), url('../fonts/BwModelica-ThinItalic.ttf') format('truetype'), url('../fonts/BwModelica-ThinItalic.svg#BwModelica-ThinItalic') format('svg'), url('../fonts/BwModelica-ThinItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Thin';
	src: url('../fonts/BwModelica-Thin.eot');
	src: url('../fonts/BwModelica-Thin.woff2') format('woff2'), url('../fonts/BwModelica-Thin.woff') format('woff'), url('../fonts/BwModelica-Thin.ttf') format('truetype'), url('../fonts/BwModelica-Thin.svg#BwModelica-Thin') format('svg'), url('../fonts/BwModelica-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-RegularItalic';
	src: url('../fonts/BwModelica-RegularItalic.eot');
	src: url('../fonts/BwModelica-RegularItalic.woff2') format('woff2'), url('../fonts/BwModelica-RegularItalic.woff') format('woff'), url('../fonts/BwModelica-RegularItalic.ttf') format('truetype'), url('../fonts/BwModelica-RegularItalic.svg#BwModelica-RegularItalic') format('svg'), url('../fonts/BwModelica-RegularItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Regular';
	src: url('../fonts/BwModelica-Regular.eot');
	src: url('../fonts/BwModelica-Regular.woff2') format('woff2'), url('../fonts/BwModelica-Regular.woff') format('woff'), url('../fonts/BwModelica-Regular.ttf') format('truetype'), url('../fonts/BwModelica-Regular.svg#BwModelica-Regular') format('svg'), url('../fonts/BwModelica-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-MediumItalic';
	src: url('../fonts/BwModelica-MediumItalic.eot');
	src: url('../fonts/BwModelica-MediumItalic.woff2') format('woff2'), url('../fonts/BwModelica-MediumItalic.woff') format('woff'), url('../fonts/BwModelica-MediumItalic.ttf') format('truetype'), url('../fonts/BwModelica-MediumItalic.svg#BwModelica-MediumItalic') format('svg'), url('../fonts/BwModelica-MediumItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Medium';
	src: url('../fonts/BwModelica-Medium.eot');
	src: url('../fonts/BwModelica-Medium.woff2') format('woff2'), url('../fonts/BwModelica-Medium.woff') format('woff'), url('../fonts/BwModelica-Medium.ttf') format('truetype'), url('../fonts/BwModelica-Medium.svg#BwModelica-Medium') format('svg'), url('../fonts/BwModelica-Medium.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-LightItalic';
	src: url('../fonts/BwModelica-LightItalic.eot');
	src: url('../fonts/BwModelica-LightItalic.woff2') format('woff2'), url('../fonts/BwModelica-LightItalic.woff') format('woff'), url('../fonts/BwModelica-LightItalic.ttf') format('truetype'), url('../fonts/BwModelica-LightItalic.svg#BwModelica-LightItalic') format('svg'), url('../fonts/BwModelica-LightItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Light';
	src: url('../fonts/BwModelica-Light.eot');
	src: url('../fonts/BwModelica-Light.woff2') format('woff2'), url('../fonts/BwModelica-Light.woff') format('woff'), url('../fonts/BwModelica-Light.ttf') format('truetype'), url('../fonts/BwModelica-Light.svg#BwModelica-Light') format('svg'), url('../fonts/BwModelica-Light.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-ExtraBoldItalic';
	src: url('../fonts/BwModelica-ExtraBoldItalic.eot');
	src: url('../fonts/BwModelica-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/BwModelica-ExtraBoldItalic.woff') format('woff'), url('../fonts/BwModelica-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/BwModelica-ExtraBoldItalic.svg#BwModelica-ExtraBoldItalic') format('svg'), url('../fonts/BwModelica-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-ExtraBold';
	src: url('../fonts/BwModelica-ExtraBold.eot');
	src: url('../fonts/BwModelica-ExtraBold.woff2') format('woff2'), url('../fonts/BwModelica-ExtraBold.woff') format('woff'), url('../fonts/BwModelica-ExtraBold.ttf') format('truetype'), url('../fonts/BwModelica-ExtraBold.svg#BwModelica-ExtraBold') format('svg'), url('../fonts/BwModelica-ExtraBold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-BoldItalic';
	src: url('../fonts/BwModelica-BoldItalic.eot');
	src: url('../fonts/BwModelica-BoldItalic.woff2') format('woff2'), url('../fonts/BwModelica-BoldItalic.woff') format('woff'), url('../fonts/BwModelica-BoldItalic.ttf') format('truetype'), url('../fonts/BwModelica-BoldItalic.svg#BwModelica-BoldItalic') format('svg'), url('../fonts/BwModelica-BoldItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Bold';
	src: url('../fonts/BwModelica-Bold.eot');
	src: url('../fonts/BwModelica-Bold.woff2') format('woff2'), url('../fonts/BwModelica-Bold.woff') format('woff'), url('../fonts/BwModelica-Bold.ttf') format('truetype'), url('../fonts/BwModelica-Bold.svg#BwModelica-Bold') format('svg'), url('../fonts/BwModelica-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-BlackItalic';
	src: url('../fonts/BwModelica-BlackItalic.eot');
	src: url('../fonts/BwModelica-BlackItalic.woff2') format('woff2'), url('../fonts/BwModelica-BlackItalic.woff') format('woff'), url('../fonts/BwModelica-BlackItalic.ttf') format('truetype'), url('../fonts/BwModelica-BlackItalic.svg#BwModelica-BlackItalic') format('svg'), url('../fonts/BwModelica-BlackItalic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BwModelica-Black';
	src: url('../fonts/BwModelica-Black.eot');
	src: url('../fonts/BwModelica-Black.woff2') format('woff2'), url('../fonts/BwModelica-Black.woff') format('woff'), url('../fonts/BwModelica-Black.ttf') format('truetype'), url('../fonts/BwModelica-Black.svg#BwModelica-Black') format('svg'), url('../fonts/BwModelica-Black.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

A .logo {
	color: #3f455b;
}

.logo {
	width: 262px;
	height: 76px;
	position: absolute;
	top: 0;
	margin-left: -20px;
}

.principal .box-slide .btn-veja,
.slide-principal-right,
.slide-principal-left,
.slide-solucoes-left,
.slide-solucoes-right,
.slide-clientes-left,
.slide-clientes-right {
	outline: 0 !important;
}

/***/
.principal .slick-dots li a {
	font-size: 21px;
	font-family: 'BwModelica-Medium', Arial;
	color: #FFFFFF;
	opacity: 0.3;
}

.principal .slick-dots li a b {
	font-size: 29.4px;
	font-family: 'BwModelica-Medium', Arial;
	color: #FFFFFF;
	letter-spacing: 2px;
	margin-right: 15px;
}

.principal ul.slick-dots {
	width: 555px;
	bottom: inherit;
	top: 30%;
	right: 0;
}

.principal .slick-dots li {
	width: 100%;
	margin: 0;
	background: rgba(9, 15, 39, 0.44);
	color: #FFFFFF;
	text-align: left;
	padding: 25px 0px 25px 30px;
	height: 80px;
	line-height: 29px;
	width: 469px;
	float: right;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}



.principal .slick-dots .slick-active a {
	opacity: 1;
	font-size: 25px;
}

.principal li.slick-active {
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.21));
	height: 100px;
	line-height: 48px;
	width: 590px;
	padding-left: 69px;
}

.principal .slick-dots li.slick-active a b {
	font-size: 35.4px;
	font-family: 'BwModelica-ExtraBold', Arial;
}
/***/

.bg-slide-principal {
	background: #0f152f;
	height: 977px;
	position: relative;
}

.principal {width: 80%;position: absolute;right: 0;}

.principal .box-slide {
	height: 977px;
}

.sem-espaco {
	padding: 0;
	margin: 0
}

.lingua {
	position: absolute;
	right: 22px;
	top: 23px;
	/*width: 32px;*/
	height: 26px;
	overflow: hidden;
	text-align: right;
	font-family: "BwModelica-Bold",Arial;
	font-size: 12px;
	line-height: 23px;
	color: #ffffff;
}
.lingua:hover, .lingua-menu-visivel {
	overflow: none;
	height: auto;
}
.lingua ul, .lingua li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.navbar-nav {
	margin: 15px -30px 0 0;
	text-align: center;
}

ul.navbar-nav li a {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

ul.navbar-nav li a:hover {
	opacity: 0.5
}

.navbar.navbar-expand-lg {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 0;
}

.nav-item a {
	font-family: 'BwModelica-Bold', Arial;
	font-size: 15px;
	color: #FFFFFF;
	margin: 0 5px 0 5px
}

.box-slide img {
	margin: 0;
	object-fit: cover;
	width: 91.5%;
	height: 977px;
	float: right;
}

.box-slide h2 {
	font-family: 'BwModelica-ExtraBold', Arial;
	font-size: 45px;
	color: #FFFFFF;
	text-transform: uppercase;
	position: absolute;
	margin-left: 0%;
	margin-top: 395px;
	z-index: 4;
}

.box-slide p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 19px;
	color: #FFFFFF;
	position: absolute;
	margin-left: 0%;
	margin-top: 520px;
	z-index: 4;
	width: 455px;
}

.principal .box-slide .btn-veja {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 22.14px;
	color: #FFFFFF;
	border: 2px solid #ffffff;
	padding: 9px 20px 12px 20px;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	margin-left: 0%;
	margin-top: 670px;
	z-index: 4;
	/* width: 203px; */
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.principal .box-slide .btn-veja i {
	background: url(../img/icon-seta.png) center no-repeat;
	width: 25px;
	height: 20px;
	float: right;
	margin: 8px 0 0 22px;
}

.principal .box-slide .btn-veja:hover {
	background: rgba(255, 255, 255, 0.21);
}

.principal.slick-initialized.slick-slider.slick-dotted {
	margin: 0
}

.slide-principal-left,
.slide-principal-right {
	width: 17px;
	height: 35px;
	border: none;
	padding: 0;
	position: absolute;
	bottom: 23px;
	left: 50%;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.slide-principal-left {
	background: url(../img/icon-slide-setas.png) left center no-repeat;
	left: 22%;
}

.slide-principal-right {
	background: url(../img/icon-slide-setas.png) right center no-repeat;
	left: 24.7%;
}

.slide-principal-left:hover,
.slide-principal-right:hover {
	opacity: 0.2;
}

.topo-contatos {
	position: absolute;
	bottom: 5px;
	right: 0;
	padding: 0;
	margin-right: 70px;
	font-family: 'BwModelica-Medium', Arial;
	font-size: 14px;
	color: #FFFFFF;
}

.topo-contatos li {
	list-style: none;
	float: left;
	color: #FFFFFF;
	margin: 0 15px;

}

.topo-contatos li a {
	text-decoration: none;
	color: #FFFFFF;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.topo-contatos li a:hover {
	opacity: 0.3
}

.telefone-topo {
	background: url(../img/icon-contato-topo.png) left center;
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 10px;
}

.telefone-email {
	background: url(../img/icon-contato-topo.png) 66px center;
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 10px;
}

.topo-rede-social {
	float: left;
	padding: 17px;
	margin-right: 10px;
	font-family: 'BwModelica-Medium', Arial;
	font-size: 14px;
	color: #FFFFFF;
	background: #0b1127;
	margin-top: 405px;
}

.topo-rede-social li {
	list-style: none;
}

.topo-rede-social .icon-facebook,
.topo-rede-social .icon-instagram,
.topo-rede-social .icon-twitter,
.topo-rede-social .icon-linkedin,
.topo-rede-social .icon-google {
	width: 25px;
	height: 25px;
	float: left;
	margin: 5px 0px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.topo-rede-social .icon-facebook {
	background: url(../img/icon-rede-social.png) 0 0;
}
.topo-rede-social .icon-instagram {
	background: url(../img/icon-rede-social.png) 0 -26px;
}
.topo-rede-social .icon-twitter {
	background: url(../img/icon-rede-social.png) 0 -52px;
}
.topo-rede-social .icon-linkedin {
	background: url(../img/icon-rede-social.png) 0 -79px;
}
.topo-rede-social .icon-google {
	background: url(../img/icon-rede-social.png) 0 -104px;
}

.topo-rede-social .icon-facebook:hover,
.topo-rede-social .icon-instagram:hover,
.topo-rede-social .icon-twitter:hover,
.topo-rede-social .icon-linkedin:hover,
.topo-rede-social .icon-google:hover {
	opacity: 0.1
}

/***/

.bg-ml-solucoes {
	background: url(../img/bg-ml-solucoes.jpg) center;
	width: 100%;
	height: 782px;
	padding: 100px 0 142px 0;
}
.bg-titulo-solucoes {
	background: url(../img/bg-titulo-solucoes.jpg) center / cover;
	width: 100%;
	height: 231px;
	float: left;
	padding: 62px 36px;
	margin: 115px 0;
}
.bg-titulo-solucoes h1 {
	font-family: 'BwModelica-ExtraBold', Arial;
	font-size: 34.4px;
	color: #FFFFFF;
	line-height: 35px;
}
.bg-titulo-solucoes h1 span {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 26.2px;
}
.bg-titulo-solucoes h1 b {
	font-family: 'BwModelica-Bold', Arial;
	font-size: 25.6px;
}

.icon-implantando,
.icon-microsoft-gold,
.icon-projetos,
.icon-suporte-usuarios,
.icon-empresas-atendidas {
	width: 100%;
	height: 123px;
	float: left;
	margin-bottom: 19px;
}

.icon-implantando {
	background: url(../img/icon-implantando.png) center no-repeat;
}
.icon-microsoft-gold {
	background: url(../img/icon-microsoft-gold.png) center no-repeat;
}
.icon-projetos {
	background: url(../img/icon-projetos.png) center no-repeat;
}
.icon-suporte-usuarios {
	background: url(../img/icon-suporte-usuarios.png) center no-repeat;
}
.icon-empresas-atendidas {
	background: url(../img/icon-empresas-atendidas.png) center no-repeat;
}

.box-slide-solucoes.ativo .icon-implantando {
	background: url(../img/icon-implantando-hover.png) center no-repeat;
	background-size: 95px;
}
.box-slide-solucoes.ativo .icon-microsoft-gold {
	background: url(../img/icon-microsoft-gold-hover.png) center no-repeat;
	background-size: 95px;
}
.box-slide-solucoes.ativo .icon-projetos {
	background: url(../img/icon-projetos-hover.png) center no-repeat;
	background-size: 86px;
}

.box-slide-solucoes.ativo .icon-suporte-usuarios {
	background: url(../img/icon-suporte-usuarios-hover.png) center no-repeat;
	background-size: 86px;
}

.box-slide-solucoes.ativo .icon-empresas-atendidas {
	background: url(../img/icon-empresas-atendidas-hover.png) center no-repeat;
	background-size: 86px;
}

.box-slide-solucoes {
	height: 380px;
	padding: 75px 0px;
	background: #ffffff;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.box-slide-solucoes.ativo {
	height: 400px;
	background: #242739;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	margin: 0;
	padding: 79px 0;
	margin-top: 30px !important;
}

.box-slide-solucoes h3 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 22px;
	color: #2b2e3d;
	text-align: center;
	line-height: 29px;
}

.box-slide-solucoes h3 b {
	font-family: 'BwModelica-Black', Arial;
}

.box-slide-solucoes.ativo h3 {
	color: #FFFFFF
}

.slide-solucoes .box-slide-solucoes {
	margin: 43px 19px 20px 19px;
}

.slide-solucoes-left,
.slide-solucoes-right {
	width: 31px;
	height: 31px;
	border: none;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: -49px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.slide-solucoes-left {
	background: url(../img/icon-slide-solucoes.png) left center;
	margin-left: -5px;
}
.slide-solucoes-right {
	background: url(../img/icon-slide-solucoes.png) right center;
	margin-left: 48px;
}

.slide-solucoes-left:hover,
.slide-solucoes-right:hover,
.slide-clientes-left:hover,
.slide-clientes-right:hover {
	opacity: 0.5;
}

/**/

.solucoes .btn-saiba-solucoes {
	font-family: 'BwModelica-Medium', Arial;
	background: #f2f1f1;
	font-size: 21.54px;
	color: #828282;
	border-radius:5px;
	text-decoration: none;
	display: block;
	width: 220px;
	margin: 0 auto;
	margin-top: 57px;
	padding: 12px 20px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.solucoes .btn-saiba-solucoes i {
	background: url(../img/icon-seta-solucoes.png) center no-repeat;
	width: 25px;
	height: 20px;
	float: right;
	margin: 7px 0 0 0;
}

.solucoes .btn-saiba-solucoes:hover {
	opacity: 0.5
}

/**/

.bg-beneficios {
	background: #f1f0f0;
	padding: 120px 0
}

.beneficios-texto {
}

.beneficios-texto h2 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 40.12px;
	color: #042554;
	margin-bottom: 28px;
	margin-top: 10px;
}
.beneficios-texto h2 b {
	font-family: 'BwModelica-Bold', Arial;
}

.beneficios-texto ul {
	padding: 0
}
.beneficios-texto ul li {
	list-style: none;
	color: #969696;
	font-size: 17px;
	font-family: 'BwModelica-Regular', Arial;
	margin: 20px 0;
	padding-right: 20px;
}

.beneficios-texto ul li i {
	background: url(../img/icon-beneficios.png) center center no-repeat;
	width: 40px;
	height: 48px;
	float: left;
	margin-right: 21px;
}
.beneficios-texto ul li i.uma-linha
{
	margin-top: -12px;
}

.beneficios-img img {
/*	width: 90%;*/
	margin-left: 68px;
}

.beneficios-texto a {
	font-family: 'BwModelica-Medium', Arial;
	background: #042554;
	font-size: 22.14px;
	color: #FFFFFF;
	border-radius: 5px;
	text-decoration: none;
	width: 235px;
	margin-top: 34px;
	padding: 12px 25px;
	display: block;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.beneficios-texto a i {
	background: url(../img/icon-seta.png) center no-repeat;
	width: 25px;
	height: 20px;
	float: right;
	margin: 8px 0 0 0;
}

.beneficios-texto a:hover {
	opacity: 0.8
}

/**/

.bg-produtos {
	padding: 120px 0 80px 0;
}

.produtos-titulo {
	float: left;
	background: url(../img/bg-titulo-produto.png) center no-repeat;
	width: 44.5%;
	position: absolute;
	left: 0;
	height: 275px;
	padding: 77px 0 32px 320px;
	border-radius: 0px 8px 8px 0;
}

.produtos-titulo h2 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 31px;
	color: #FFFFFF;
}
.produtos-titulo h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}
.produtos-titulo p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 24px;
	color: #FFFFFF;
}

.produtos-img {
	margin-top: 300px
}

.beneficios-texto p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 16px;
	color: #b2b2b2;
	margin-bottom: 25px;
}

.beneficios-texto p b {
	font-family: 'BwModelica-Medium', Arial;
	color: #909090;
}

.beneficios-texto p.espaco {
	margin-left: 20px
}

/**/

.bg-clientes {
	background: url(../img/bg-clientes.jpg);
	width: 100%;
	height: 200px;
	padding: 0 0 0 18%;
	margin-bottom: 105px;
}

.clientes-titulo {
	margin-top: 60px;
}

.clientes-titulo h2 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 27px;
	color: #949494;
	line-height: 36px;
	padding-left: 0;
}
.clientes-titulo h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}

.clientes-espaco {
	padding: 0
}

.slide-clientes SPAN {
	width: 216px;
	margin: 50px 28px 90px 28px;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
}

.slide-clientes div {
	margin-left: 15px;
}

.slide-clientes SPAN {
	overflow: hidden;
	width: 216px;
	height: 174px;
	display: block;
}
.slide-clientes SPAN > IMG {
	width: 1298px;
	height: 348px;
}

.slide-clientes SPAN.pos > IMG {
	width: 216px;
	height: 174px;
}

.slide-clientes SPAN.pos-1-1 > IMG { margin-top:    0  ; margin-left:     0  ; }
.slide-clientes SPAN.pos-1-2 > IMG { margin-top:    0  ; margin-left:  -216px; }
.slide-clientes SPAN.pos-1-3 > IMG { margin-top:    0  ; margin-left:  -432px; }
.slide-clientes SPAN.pos-1-4 > IMG { margin-top:    0  ; margin-left:  -648px; }
.slide-clientes SPAN.pos-1-5 > IMG { margin-top:    0  ; margin-left:  -864px; }
.slide-clientes SPAN.pos-1-6 > IMG { margin-top:    0  ; margin-left: -1080px; }

.slide-clientes SPAN.pos-2-1 > IMG { margin-top: -174px; margin-left:     0  ; }
.slide-clientes SPAN.pos-2-2 > IMG { margin-top: -174px; margin-left:  -216px; }
.slide-clientes SPAN.pos-2-3 > IMG { margin-top: -174px; margin-left:  -432px; }
.slide-clientes SPAN.pos-2-4 > IMG { margin-top: -174px; margin-left:  -648px; }
.slide-clientes SPAN.pos-2-5 > IMG { margin-top: -174px; margin-left:  -864px; }
.slide-clientes SPAN.pos-2-6 > IMG { margin-top: -174px; margin-left: -1080px; }

/***/

.slide-clientes-left,
.slide-clientes-right {
	width: 31px;
	height: 31px;
	border: none;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	bottom: 128px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.slide-clientes-left {
	background: url(../img/icon-slide-clientes.png) left center;
	right: 134px;
}
.slide-clientes-right {
	background: url(../img/icon-slide-clientes.png) right center;
	right: 74px;
}

/**/

.bg-contato {
	padding: 65px 0 120px 0;
}

.contato-form {
	background: #FFFFFF;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	padding: 45px 70px;
}

.contato-form p {
	font-family: 'BwModelica-Regular';
	font-size: 15.2px;
	color: #b0b0b0;
	margin-bottom: 25px;
}

/***/

#form-container .input-group .form-control {
	font-family: 'BwModelica-Regular', Arial;
	background: #f1f1f1;
	font-size: 13.5px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 7px 0 8px 17px;
	margin-bottom: 15px;
	transition: all .2s ease-out;
}

#form-container input {
	height: 39px;
	margin-bottom: 17px;
	padding: 0 35px;
}

.assunto-form textarea {
	height: 155px
}

#form-container .assunto-form textarea:focus,
#form-container input[type=text]:focus {
	background: #e7e7e7;
	box-shadow: 0 0;
	border: 0;
	outline: 0
}

::-webkit-input-placeholder {
	color: #a6a6a6 !important
}

:-moz-placeholder {
	color: #a6a6a6 !important
}

::-moz-placeholder {
	color: #a6a6a6 !important
}

:-ms-input-placeholder {
	color: #a6a6a6 !important
}

#form-container .btn-form-enviar {
	font-family: 'BwModelica-Regular', Arial;
	background: #00193e;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 5px;
	margin-top: 10px;
	border: none;
	padding: 9px 30px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	cursor: pointer
}

#form-container .btn-form-enviar:hover {
	opacity: 0.8
}

/**/

.contato-botao {
	background: #00193e;
	border-radius: 15px 15px 15px 15px;
	height: 102px;
	margin-top: 25px;
	text-align: center;
	cursor: pointer;
}

.contato-botao h2 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 30px;
	color: #FFFFFF;
	padding: 35px 0 0 0;
}

/**/

.contato-titulo {
	background: #00193e;
	border-radius: 15px 0 0 15px;
	height: 202px;
	margin-top: 25px;
}

.contato-titulo h2 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 30px;
	color: #FFFFFF;
	padding: 82px 0 0 66px;
}

.contato-titulo h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}

/**/
.contato-telefone {
	background: #FFF;
	border-radius: 15px 0 0 15px;
	height: 145px;
	margin-top: 30px;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	padding: 33px 0 0 40px;
}
.contato-endereco {
	background: #FFF;
	border-radius: 15px 0 0 15px;
	height: 145px;
	margin-top: 30px;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	padding: 34px 0 0 40px;
}

.contato-telefone h4,
.contato-endereco h4 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 17.5px;
	color: #909090;
	margin-bottom: 10px;
}

.contato-telefone p,
.contato-endereco p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 14.5px;
	color: #b0b0b0;
	margin-bottom: 5px;
}

.contato-telefone p a,
.contato-endereco p a {
	color: #b0b0b0;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.contato-telefone p a:hover,
.contato-endereco p a:hover {
	opacity: 0.5
}

/**/

.bg-rodape {
	background: url(../img/bg-rodape.jpg);
	padding: 35px 0px 5px 0;
}

.rodape-rede-social {
	padding: 0px;
	width: 175px;
	height: 35px;
	margin-left: -9px;
	margin-bottom: 0;
}

.rodape-rede-social li {
	list-style: none;
	float: left;
}

.rodape-rede-social .icon-facebook,
.rodape-rede-social .icon-instagram,
.rodape-rede-social .icon-twitter,
.rodape-rede-social .icon-linkedin,
.rodape-rede-social .icon-google {
	width: 29px;
	height: 22px;
	float: left;
	margin: 5px 3px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.rodape-rede-social .icon-facebook:hover,
.rodape-rede-social .icon-instagram:hover,
.rodape-rede-social .icon-twitter:hover,
.rodape-rede-social .icon-linkedin:hover,
.rodape-rede-social .icon-google:hover {
	opacity: 0.3
}

.rodape-rede-social .icon-facebook {
	background: url(../img/icon-rede-social-rodape.png) 0 0;
}
.rodape-rede-social .icon-instagram {
	background: url(../img/icon-rede-social-rodape.png) -23px 1px;
}
.rodape-rede-social .icon-twitter {
	background: url(../img/icon-rede-social-rodape.png) -47px 1px;
}
.rodape-rede-social .icon-linkedin {
	background: url(../img/icon-rede-social-rodape.png) -72px 0px;
}
.rodape-rede-social .icon-google {
	background: url(../img/icon-rede-social-rodape.png) -98px 1px;
}
/**/
.rodape-logo {
	padding: 53px 68px;
}

.rodape-logo img {
	margin-bottom: 20px;
}

.rodape-logo p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 13.5px;
	color: #f0f0f0;
	margin-bottom: 15px;
}
/**/
.rodape-contato {
	padding: 66px 20px;
}
.rodape-contato p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 13.5px;
	color: #f0f0f0;
	margin-top: 10px;
}

.rodape-contato p a {
	text-decoration: none;
	color: #f0f0f0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.rodape-contato p a:hover {
	opacity: 0.3
}

.rodape-contato p i.icon-rodape-telefone,
.rodape-contato p i.icon-rodape-email,
.rodape-contato p i.icon-rodape-endereco,
.rodape-contato p i.icon-rodape-whatsapp {
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 10px;
}

.rodape-contato p i.icon-rodape-telefone {
	background: url(../img/icon-contato-topo.png) 0 0;
}
.rodape-contato p i.icon-rodape-email {
	background: url(../img/icon-contato-topo.png) -22px 0;
}
.rodape-contato p i.icon-rodape-endereco {
	background: url(../img/icon-contato-topo.png) -44px 0;
}
.rodape-contato p i.icon-rodape-whatsapp {
	background: url(../img/icon-contato-topo.png) -66px 0;
}
/***/

.rodape-menu ul {
	padding: 81px 10px;
	margin: 0;
}

.rodape-menu ul li {
	margin-top: 3px;
	margin-bottom: 12px;
	list-style: none;
}

.rodape-menu ul li a {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 13.5px;
	color: #f0f0f0;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.rodape-menu ul li a:hover {
	opacity: 0.3
}

.rodape-menu ul li i.rodape-icon-home,
.rodape-menu ul li i.rodape-icon-project,
.rodape-menu ul li i.rodape-icon-institucional,
.rodape-menu ul li i.rodape-icon-clientes,
.rodape-menu ul li i.rodape-icon-suporte,
.rodape-menu ul li i.rodape-icon-contato {
	width: 22px;
	height: 21px;
	float: left;
	margin: 0px 10px 0 0;
}

.rodape-menu ul li i.rodape-icon-home {
	background: url(../img/rodape-icon-menu.png) 0 0;
}
.rodape-menu ul li i.rodape-icon-project {
	background: url(../img/rodape-icon-menu.png) -21px 0;
}
.rodape-menu ul li i.rodape-icon-institucional {
	background: url(../img/rodape-icon-menu.png) -41px 0;
}
.rodape-menu ul li i.rodape-icon-clientes {
	background: url(../img/rodape-icon-menu.png) -62px 0;
}
.rodape-menu ul li i.rodape-icon-suporte {
	background: url(../img/rodape-icon-menu.png) -84px 0;
}
.rodape-menu ul li i.rodape-icon-contato {
	background: url(../img/rodape-icon-menu.png) -104px 0;
}

/**/

.bg-hauze {
	background: #434343;
	padding: 22px 0;
}
.bg-hauze p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 13px;
	color: #e9e6e6;
	margin: 0;
	text-align: center;
}
.bg-hauze p a {
	color: #e9e6e6;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.bg-hauze p a:hover {
	color: #042554;
	text-decoration: none
}

/**/

.topo-internas {
	background: url(../img/topo-internas.jpg) center / cover;
	height: 65px;
}

.topo-internas .logo {
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	background: #FFF;
/*	padding: 0px 0px 7px 7px*/
}

/**Project Online**/

.titulo-project {
	padding: 95px 0 30px 0;
}

.titulo-project h1 {
	font-family: 'BwModelica-Bold', Arial;
	font-size: 27.34px;
	color: #3f455a;
	text-align: center;
	margin-bottom: 14px;
}
.titulo-project h1 span {
	font-family: 'BwModelica-Regular', Arial;
}
.titulo-project h2 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 21.47px;
	color: #3f455a;
	text-align: center;
	margin-bottom: 25px;
}
.titulo-project h3,
.titulo-project h4,
.titulo-project h5,
.titulo-project h6
{
	text-align: center;
}
.titulo-project p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 18px;
	color: #4e4e4e;
	text-align: center;
	margin: 0;
}

/**/

.bg-project-texto {
	background: #f1f0f0;
	padding: 110px 0 90px 0;
}

.texto-project {
	padding: 25px 57px 0 32px;
}

.texto-project ul {
	padding: 0
}
.texto-project ul li {
	list-style: none;
	font-family: 'BwModelica-Regular', Arial;
	font-size: 19px;
	color: #6b6b6b;
	margin-bottom: 22px;
}

.texto-project ul li b {
	font-family: 'BwModelica-bold', Arial;
}

.texto-project ul li span {
	font-family: 'BwModelica-BoldItalic', Arial;
}

.texto-project ul li i {
	background: url(../img/icon-beneficios.png) center center no-repeat;
	width: 26px;
	height: 26px;
	background-size: 26px;
	position: absolute;
	left: -40px;
}

.img-project img {
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	margin-bottom: 40px;
	z-index: 2;
	position: relative;
}

.img-project:after {
	content: "";
	width: 305px;
	height: 365px;
	position: absolute;
	background: #3f455a;
	border-radius: 5px;
	top: 72px;
	right: -105px;
}

/**/

.pg-project-contato {
	padding: 80px 0
}

.titulo-project-contato h3 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 21.47px;
	color: #3f455a;
	text-align: center;
	margin-bottom: 22px;
}

.titulo-project-contato p {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 18px;
	color: #4e4e4e;
	text-align: center;
	margin: 0px;
}

.titulo-project-contato p.desc {
	text-align: justify;
}

.titulo-project-contato .btn-project-contato {
	font-family: 'BwModelica-Medium', Arial;
	background: #f2f1f1;
	font-size: 21.54px;
	color: #828282;
	border-radius: 5px;
	text-decoration: none;
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 35px;
	padding: 12px 23px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.titulo-project-contato .btn-project-contato:hover {
	opacity: 0.5;
}

.titulo-project-contato .btn-project-contato i {
	background: url(../img/icon-seta-solucoes.png) center no-repeat;
	width: 25px;
	height: 20px;
	float: right;
	margin: 7px 0 0 0;
}
/*/*Project Online**/

/**Institucional**/
.bg-institucional-texto {
	background: #f1f0f0;
	padding: 110px 0 90px 0;
}

.img-destaque-institucional:before {
	content: "";
	width: 660px;
	height: 235px;
	position: absolute;
	background: #3f455a;
	border-radius: 5px;
	top: 200px;
	left: -565px;
}

.img-destaque-institucional img {
	position: relative;
	z-index: 2;
	margin-top: 100px;
}

.texto-institucional {
	padding: 50px 0;
}
.texto-institucional ul {margin-left: 10px;}
.texto-institucional ul li {
	list-style: none;
	font-family: 'BwModelica-Regular', Arial;
	font-size: 19px;
	color: #6b6b6b;
	margin-bottom: 23px;
	margin-left: 45px;
}

.texto-institucional ul li span {
	 font-size: 18px;
	 margin-left: 35px;
	 line-height: 33px;
}

.texto-institucional ul li i {
	background: url(../img/icon-beneficios.png) center center no-repeat;
	width: 26px;
	height: 26px;
	background-size: 26px;
	position: absolute;
	margin-left: -42px;
}

.texto-institucional ul li span i {
	background: url(../img/icon-certo.png) center center no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	margin-left: -38px;
	margin-top: 5px;
}
/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.texto-institucional ul li span i {
		margin-left: -74px;
	}
}

.bg-institucional-texto-img {
	padding: 100px 0;
}

.institucional-texto-img ul {
	margin-left: 0;
	padding: 0;
}
.institucional-texto-img ul li {
	list-style: none;
	font-family: 'BwModelica-Regular', Arial;
	font-size: 19px;
	color: #6b6b6b;
	margin-bottom: 23px;
	margin-right: 40px;
}
.institucional-texto-img ul li.sem-espaco {
	margin-bottom: 0;
}

.institucional-texto-img ul li i {
	background: url(../img/icon-beneficios.png) center center no-repeat;
	width: 26px;
	height: 26px;
	background-size: 26px;
	position: absolute;
	margin-left: -42px;
}

.institucional-texto-img ul li span {
	font-size: 18px;
	margin-left: 35px;
	line-height: 33px;
}

.institucional-texto-img ul li span i {
	background: url(../img/icon-certo.png) center center no-repeat;
	width: 26px;
	height: 26px;
	position: absolute;
	margin-left: -38px;
	margin-top: 5px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.institucional-texto-img ul li span i {
		margin-left: -74px;
	}
}

.bg-institucional-texto-img2 {
	background: url(../img/bg-clientes.jpg) repeat-x;
}
.bg-institucional-texto-img2 DIV {
	margin-right: auto;
	margin-left: auto;
}
.bg-institucional-texto-img2 .box-numeros {
	width: 300px;
	padding: 20px 35px;
	height: 440px;
}
.bg-institucional-texto-img2 IMG {
	margin-bottom: 10px;
}
.bg-institucional-texto-img2 P {
	font-family: BwModelica-Regular,Arial !important;
}
.bg-institucional-texto-img2 UL,
.bg-institucional-texto-img2 LI
{
	margin-top: 0;
	margin-bottom: 0;
	font-family: BwModelica-Regular,Arial;
	font-size: 18.6px;
	color: #3f455a;
}

.img-institucional img {
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	z-index: 2;
	position: relative;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

/**/

.bg-mlpro-numeros {
	background: url(../img/bg-clientes.jpg) repeat-x;
	width: 100%;
	padding: 0 0 0 16%;
}

.mlpro-numeros {
	margin-top: 73px;
}

.mlpro-numeros h2 {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 27px;
	color: #949494;
	line-height: 36px;
	padding-left: 80px;
}
.mlpro-numeros h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}

.slide-numeros-left,
.slide-numeros-right {
	width: 31px;
	height: 31px;
	border: none;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.12);
	border-radius: 100%;
	cursor: pointer;
	position: absolute;
	bottom: 277px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.slide-numeros-left {
	background: url(../img/icon-slide-clientes.png) left center;
	right: 101px;
}
.slide-numeros-right {
	background: url(../img/icon-slide-clientes.png) right center;
	right: 40px;
}

.numeros-espaco {
	padding: 0
}

.box-numeros {
	width: 216px;
	margin: 86px 28px 100px 28px;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	background: #FFFFFF;
	padding: 45px 8px;
}

.box-numeros h3 {
	font-family: 'BwModelica-Bold', Arial;
	font-size: 51.3px;
	color: #3f455a;
	text-align: center
}

.box-numeros p {
	font-family: 'BwModelica-Medium', Arial;
	font-size: 18.6px;
	color: #3f455a;
	text-align: center;
	margin: 0;
}

.icon-implantacao {
	background: url(../img/icon-implantacao.png) center no-repeat;
	width: 100%;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}
.icon-implementacoes {
	background: url(../img/icon-implementacoes.png) center no-repeat;
	width: 100%;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}
.icon-treinamentos {
	background: url(../img/icon-treinamentos.png) center no-repeat;
	width: 100%;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}
.icon-usuarios {
	background: url(../img/icon-usuarios.png) center no-repeat;
	width: 100%;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}
.icon-suportados {
	background: url(../img/icon-suportados.png) center no-repeat;
	width: 100%;
	height: 90px;
	float: left;
	margin-bottom: 15px;
}

.slide-numeros div {
	margin-left: 15px;
}

/*/*Institucional**/

/**PG Clientes**/
.bg-clientes-pg {
	background: url(../img/bg-clientes-pg.jpg) 0px -27px;
	padding: 25px 0 15px 0;
	margin: 0 0 20px 0;
}

.bg-clientes-pg h3 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 18px;
	color: #4e4e4e;
	text-align: center;
}

.bg-clientes-pg ul {
	padding: 0;
	margin-top: 45px;
}

.bg-clientes-pg ul li {
	list-style: none;
	float: left;
	width: 18.1%;
	margin: 0px 10px 15px 10px;
}

.bg-clientes-pg ul li img {
	width: 100%;
		box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
}
/*/*PG Clientes**/

/**PG Suporte**/
.bg-suporte {
	padding: 10px 0 100px 0;
}

.suporte-titulo {
	background: #00193e;
	border-radius: 15px 0 0 15px;
	height: 155px;
	margin-top: 22px;
}

.suporte-titulo h2 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 18px;
	color: #FFFFFF;
	padding: 69px 0 0 64px;
}

.suporte-titulo h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}

.suporte-texto {
	background: #FFFFFF;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
	padding: 75px 60px 50px 100px;
}

.suporte-texto ul {
	padding: 0;
}

.suporte-texto ul li {
	list-style: none;
	font-family: 'BwModelica-Regular', Arial;
	font-size: 16px;
	color: #9c9898;
	margin-bottom: 22px;
}

.suporte-texto ul li i {
	background: url(../img/icon-beneficios.png) center center no-repeat;
	width: 26px;
	height: 26px;
	background-size: 26px;
	float: left;
	margin-left: -38px;
}
.suporte-texto ul li i.uma-linha {
	margin-top: -2px;
}

.suporte-texto ul li b {
	font-family: 'BwModelica-bold', Arial;
}

.box-chamado {
	background: #FFF;
	border-radius: 15px;
	box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0 25px 0px rgba(0, 0, 0, 0.11);
	padding: 60px 0;
	margin: 0 20px;
}

.box-chamado h3 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 18px;
	color: #00193e;
	text-align: center
}

.icon-chamados-solicite,
.icon-chamados-acompanhe,
.icon-chamados-horas {
	width: 100%;
	height: 155px;
	float: left;
	margin-bottom: 20px;
}

.icon-chamados-solicite {
	background: url(../img/icon-chamados-solicite.png) center no-repeat;
}
.icon-chamados-acompanhe {
	background: url(../img/icon-chamados-acompanhe.png) center no-repeat;
}
.icon-chamados-horas {
	background: url(../img/icon-chamados-horas.png) center no-repeat;
}

.pg-project.contato .titulo-project {
	padding-bottom: 0;
}
/*/*PG Suporte**/

.mapa-titulo {
	background: #00193e;
	border-radius: 10px 10px 0px 0px;
	height: 150px;
	margin-top: -25px;
	position: absolute;
	z-index: 2;
}

.mapa-titulo h2 {
	font-family: 'BwModelica-Regular', Arial;
	font-size: 21px;
	color: #FFFFFF;
	padding: 64px 50px 0 050px;
	text-align: center;
}

.mapa-titulo h2 b {
	font-family: 'BwModelica-ExtraBold', Arial;
}

 .mapa-contato {
	height: 500px;
	padding: 0px;
	z-index: 0;
	margin-top: 124px;
}

/**/

.texto-project.project ul li {
	margin-bottom: 35px;
}

.texto-project.project {
	padding: 80px 57px 0 32px;
}

a.link-deco {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a.link-deco:hover .box-chamado {
	background: #535971
}

a.link-deco:hover .box-chamado h2 {
	color: #FFF;
}

/**/

.home-microsoft-partner {
	position: absolute;
	left: 50%;
	margin-left: -29.8%;
	margin-top: 290px;
	z-index: 1;
}

#map-interno,
#map-interno iframe
{
	border: 0;
}

/**/

.popup-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	z-index: 1000;
}

.popup-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -375px;
	margin-top: -161.5px;
	border: 1px solid #333;
	width: 750px;
	height: 323px;
	padding-left: 339px;
	background: url('/content/img/popup-contato.jpg') no-repeat left top #FFF;
	opacity: 0;
	z-index: 1100;
	text-align: center;
}

.popup-x {
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	cursor: pointer;
}

.popup-texto {
	padding: 0 10px;
}

.popup-form {
	margin: 10px 0 10px 0;
}

.popup-popup INPUT {
	border-radius: 7px;
	border-width: 1px;
	padding: 1px 5px 3px 5px;
	width: 80%;
}

.popup-popup INPUT[type="text"] {
	margin-bottom: 5px;
}

.popup-popup INPUT[type="submit"] {
	color: #FFF;
	background-color: #21739b;
	border-color: #3a6886;
}

/**/

#WhatsApp {
	position: fixed;
	bottom: 85px;
	right: 5px;
	padding: 0;
}
#WhatsApp A.shake IMG {
	animation: WhatsAppShake 1s infinite;
}

@keyframes WhatsAppShake {
	  0% { transform: translate( 0px,  0px) rotate( 0deg); }
	 50% { transform: translate( 1px,  1px) rotate( 0deg); }
	 55% { transform: translate(-1px, -2px) rotate(-1deg); }
	 60% { transform: translate(-3px,  0px) rotate( 1deg); }
	 65% { transform: translate( 3px,  2px) rotate( 0deg); }
	 70% { transform: translate( 1px, -1px) rotate( 1deg); }
	 75% { transform: translate(-1px,  2px) rotate(-1deg); }
	 80% { transform: translate(-3px,  1px) rotate( 0deg); }
	 85% { transform: translate( 3px,  1px) rotate(-1deg); }
	 90% { transform: translate(-1px, -1px) rotate( 1deg); }
	 95% { transform: translate( 1px,  2px) rotate( 0deg); }
	100% { transform: translate( 1px, -2px) rotate(-1deg); }
}

.esquerda {
	float: left;
	margin-right:10px !important
}

.direita {
	float: right;
	margin-left:10px !important;
}